{% extends 'bartender/base.html' %}

{% block content %}
    
    <h2>Ancienne(s) commande(s) traitée(s)</h2>
      
    <div class="list-group">
      {% for order in order_list %}
        {% if order.status == order.READY_STATUS%}
          <a href="#" class="list-group-item order_list" style="background-color: Green; color:white;" data-toggle="modal" data-target="#myModal-{{order.id}}">Commande {{order.id}} (reçue {{order.requestedTime.time}}) (statut : prête)</a>
        {% elif order.status == order.REFUSED_STATUS%}
          <a href="#" class="list-group-item order_list" style="background-color: Red; color:white;" data-toggle="modal" data-target="#myModal-{{order.id}}">Commande {{order.id}} (reçue {{order.requestedTime.time}}) (statut : refusée)</a>
        {% endif %}
      {% endfor %}
    </div>
    
{% endblock content %}