{% extends 'bartender/base.html' %}

{% block content %}

    <h2>Nouvelles(s) commande(s)</h2>

    <div class="list-group">
      {% for order in order_list %}
        {% if order.status == order.PENDING_STATUS%}
          <a href="#" class="list-group-item order_list" style="background-color: DarkOrange;" data-toggle="modal" data-target="#myModal-{{order.id}}">
            Commande {{order.id}} ({% for item in order.order_details_set.all %} {{ item.quantity }} {{ item.name }} /{% endfor %})
            <br>(reçue {{order.requestedTime.time}}) (statut : en attente)
          </a>
        {% elif order.status == order.ACCEPTED_STATUS%}
          <a href="#" class="list-group-item order_list" style="background-color: Gold;" data-toggle="modal" data-target="#myModal-{{order.id}}">
            Commande {{order.id}} ({% for item in order.order_details_set.all %} {{ item.quantity }} {{ item.name }} /{% endfor %})
            <br>(reçue {{order.requestedTime.time}}) (statut : acceptée)
          </a>
        {% elif order.status == order.REFUSED_STATUS%}
          <a href="#" class="list-group-item order_list" style="background-color: Red; color:white;" data-toggle="modal" data-target="#myModal-{{order.id}}">
            Commande {{order.id}} ({% for item in order.order_details_set.all %} {{ item.quantity }} {{ item.name }} /{% endfor %})
            <br>(reçue {{order.requestedTime.time}}) (statut : refusée)
          </a>
        {% elif order.status == order.READY_STATUS%}
          <a href="#" class="list-group-item order_list" style="background-color: Green; color:white;" data-toggle="modal" data-target="#myModal-{{order.id}}">
            Commande {{order.id}} ({% for item in order.order_details_set.all %} {{ item.quantity }} {{ item.name }} /{% endfor %})
            <br>(reçue {{order.requestedTime.time}}) (statut : prête)
          </a>
        {% endif %}
      {% endfor %}
    </div>
    
{% endblock content %}