<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Bar Tender Web Application</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bartender_style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!--avoid google asking to translate-->
    <meta name="google" value="notranslate">
    
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Nestor</a>
        </div>
      </div>
    </nav>

    {% load static from staticfiles %}
    <script src="{% static "js/manage-orders.js" %}"></script>

<hr>

<div class="btn-group btn-group-lg" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href=/bar_tender/ type="button" class="btn btn-default">Commandes non-traitées</a>
  </div>
  <div class="btn-group" role="group">
    <a href=/bar_tender/old-orders/ type="button" class="btn btn-default">Anciennes commandes traitées</a>
  </div>
</div>

<hr>

  {% for order in order_list %}
      <!-- A Modal for each order-->
        <div class="modal fade" id="myModal-{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close btn-primary" data-dismiss="modal" style="padding: 20px 25px; font-size:130%;" aria-label="Close"><span aria-hidden="true">&times;</span>Fermer</button>
                <h4 class="modal-title" id="myModalLabel" style="font-size:250%">Commande {{order.id}}</h4>
              </div>
              <div class="modal-body">
                
                <p style="text-align: left;">Identifiant client : {{ order.pseudo }}</p>
                <hr>
                <p style="text-align: left;">Commentaire client : {{ order.comment }}</p>
                <hr>
                {% for item in order.order_details_set.all %}
                  <p style="text-align: left; font-size:180%">{{ item.name }} : {{ item.quantity }}</p>
                {% endfor %}
              </div>
              <div class="modal-footer">
                {% if order.status == order.PENDING_STATUS%}
                  <button type="button" class="btn btn-primary" style="padding: 18px 23px; font-size:130%; background-color: Gold" onclick="acceptOrder({{order.id}});" data-dismiss="modal">Accepter</button>
                  <button type="button" class="btn btn-success btn-lg" style="padding: 18px 23px; font-size:130%;" onclick="setOrderReady({{order.id}});" data-dismiss="modal">Commande prête</button>
                  <button type="button" class="btn btn-danger" style="padding: 18px 23px; font-size:130%;" onclick="refuseOrder({{order.id}});" data-dismiss="modal">Refuser</button>
                {% elif order.status == order.ACCEPTED_STATUS%}
                  <button type="button" class="btn btn-success" style="padding: 18px 23px; font-size:130%;" onclick="setOrderReady({{order.id}});" data-dismiss="modal">Commande prête</button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    
    {% block content %}{% endblock %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="/static/js/bar-tender.js"></script>
    <script src="/static/js/csrf.js"></script>
    
    <script>    
      $(document).ready(function(){
        {% for order in order_list %}
          $("#myModal-{{order.id}}").on('shown.bs.modal', function () {
              refreshEnable = false;
          });
          
          $("#myModal-{{order.id}}").on('hidden.bs.modal', function () {
              refreshEnable = true;
          });
        {% endfor %}
        
        // TODO: use a local model instead of this
        // get the last order time stamp
        var time;// = 0;
        {% for order in order_list %}
            var date = new Date('{{order.requestedTime|date:"Y/m/d H:i:s"}}');
            //alert(JSON.stringify(date.getTime()));
            if ((time == undefined) || (date.getTime() > time)) {
              time = date.getTime(); // number of ms since 1970
            }
        {% endfor %}
        last_time = new Date(time);
        //alert(JSON.stringify(last_time));
        
        // A new order has arrived
        if((!isLocalOrderTimeAvailable()) || (last_time.getTime() > sessionStorage.localOrderTime))
        {
          blinkScreen();  // blink screen
          
          // moved to click event of back screen. To avoid the stop of the blinking at automatic reload
          //sessionStorage.localOrderTime = last_time.getTime(); // last order = new order
        }

      });      
    </script>
    
    <footer>
      <p>&copy; Nestor</p>
    </footer>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.blockUI.js"></script> <!-- black blinking screen-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
