.navbar-brand {
  padding: 2px 2px;
}

.badge {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    background: Blue;
    color: white;
}