<h1>Orders</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/js/manage-orders.js"></script>   
    
{% if order_list%}
    <ul>
    {% for order in order_list %}
        <h2>Order {{order.id}} ({{order.status}}) </h2>
        {% if order.order_details_set.all%}
            {% for order_detail in order.order_details_set.all %}
                <li><a>{{order_detail.quantity}} {{ order_detail.name }}</a></li>
            {% endfor %}
        {% else %}
            <p>No item ordered for this order</p>
        {% endif %}
        <button type="button" onclick="acceptOrder({{order.id}});">Accept Order</button>
    {% endfor %}
    </ul>
{% else %}
    <p>No order available.</p>
{% endif %}


{% load static from staticfiles %}
<script src="{% static "js/manage-orders.js" %}"></script>

<script>

  /*************************  
  // security against csrf attack (copied from https://docs.djangoproject.com/en/1.8/ref/csrf/)
  *////////////////////////
  
  // using jQuery
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
  
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
  });

</script>
