<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Client Web Application</title>

    {% load compress %}
    {% compress css %}
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    {% endcompress %}
    
    <!--<link href="/static/css/rowheight.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <!--<link href="/static/css/jumbotron.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!--avoid google asking to translate-->
    <meta name="google" value="notranslate">
    
  </head>
  <body>


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="navbar row" style="margin-bottom: 5%;">
        <a class="navbar-brand pull-left" style="width: 25%;" href="/client">  
          <img class="center-block" alt="Commande" src="/static/img/Nestor-white.png" width=40 height=40>
          <p class="navbar-text text-center" style=" font-size:80%; margin-top: 10%; line-height: 80%; "> < Menu</p>
        </a>
        
        <div class="navbar-center navbar-brand" style="position: absolute; width: 50%; left: 20%; right: 20%; top: 0; text-align: center; margin: auto; height:100%;"> <!--style="float:none;" >  -->
          <p class="navbar-text" style=" font-size:180%; ">Poules à lier</p>
        </div>
        
        <a class="navbar-brand pull-right"  style="width: 25%;" href="/client/my_order">
          <p id="baseTotalValue" class="navbar-text text-center" style=" font-size:60%; margin-top: 8%; margin-top: 2%; line-height: 80%; "></p>
          <img class="center-block" alt="Commande" src="/static/img/Nestor-white_droite.png" width=40 height=20>
          <p class="navbar-text text-center" style=" font-size:60%; margin-top: 3%; line-height: 80%; ">ma <br>commande</p>
        </a>
        </div>
      </div>
    </div>
  </nav>
    
    <div class="container" style="background-color: black; margin-top: 5%;"> <!-- top margin should be the same amount as margin-bottom of navbar row -->
        <div class="span12" >
            <img class="img-responsive" src="/static/img/poules.jpg" height=200/>
        </div>
    </div>
    
    {% block content %}{% endblock %}
    
      <footer>
        <p>&copy; Nestor</p>
      </footer>
    </div> <!-- /container -->
    
     <!-- Placed at the end of the document so the pages load faster -->
     
      {% load compress %} 
     
     {% compress js %}
      <script src="/static/js/jquery-1.11.3.min.js"></script>
      <script src="/static/js/models.js"></script>
      <script src="/static/js/client.js"></script>
      <script src="/static/js/localMenu.js"></script>
      <script src="/static/js/localOrder.js"></script>
      <script src="/static/js/ui-queries/base.js"></script>
      <script src="/static/js/csrf.js"></script>
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/include/jquery.textfill.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
     {% endcompress %}
    
    <!-- Used to save the bar menu informations locally-->
    
    <script>
      // should probably be moved in base.js
        getLocalMenu().then (function(menu){
          updateHeaderTotal();
        });

    </script>

    <!-- Custom css -->
    <link href="/static/css/style.css" rel="stylesheet">
    
      {% block content2 %}{% endblock %}
    
  </body>
</html>
