
{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<div class="container">
  <div class="row ">
    <div class="col-xs-7 col-xs-height col-xs-middle"><h2 id="category-title"></h2></div>
    <div class="inside">
    <div class="col-xs-5 col-xs-height col-xs-middle text-center">
      <h2><a type="button" class="btn btn-primary btn-lg" href="/client/my_order" style=" font-size:40%; ">Commander</a></h2>
    </div>
    </div>
  </div>
</div>
<div id="menu-items-container" class="container"></div>

<!-- Modal indo (pop up windows)-->
<div id="menu-items-modal-container" class="container"></div>

{% endblock content %}

{% block content2 %}
 {% load compress %}
 {% compress js %}
 <script src="/static/js/ui-queries/menu-item-view.js"></script>
 <script src="/static/js/ui-queries/category.js"></script>
 {% endcompress %}
{% endblock content2 %}