
{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<div id="category-container" class="container"></div>

<hr>

{% endblock content %}

{% block content2 %}

  <script src="/static/js/ui-queries/menu.js" type="text/javascript" charset="utf-8" async defer></script>

{% endblock content2 %}
