{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
<h2 id="status-title"></h2>
<h3>Statut de la commande</h3>

<div id="received">
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:33%">
                envoyée
            </div>
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:33%; background-color: #c2cad1">
                acceptée
            </div>
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:34%; background-color: #c2cad1">
                prête
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
 
 <p>Votre commande a bien été envoyée au bar</p>
 
 </div>
 
 <div id="accepted">
 <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:33%">
                envoyée
            </div>
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:33%;">
                acceptée
            </div>
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:34%; background-color: #c2cad1">
                prête
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
 
 <p>Votre commande a été acceptée et est en préparation</p>
 
 </div>
 
 
 <div id="ready">
 <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:33%">
                envoyée
            </div>
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:33%">
                acceptée
            </div>
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:34%">
                prête
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
 
 <p>Votre commande est prête, vous pouvez aller la chercher au bar! Merci de cliquer sur ce bouton après réception afin de pouvoir passer une nouvelle commande.</p>
 
 <hr> 
 <button type="button" class="btn btn-default btn-lg" onclick="terminateOrder();">
            Commande réceptionnée
 </button>
 <hr> 
</div>
 
<div id="refused">
 <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:33%">
                envoyée
            </div>
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:67%">
                refusée
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
 
 <p>Votre commande a été refusée. Rendez-vous au bar pour plus de détails.</p>
 <hr> 
 <button type="button" class="btn btn-default btn-lg" onclick="terminateOrder();">
            Passer une nouvelle commande
 </button>
 <hr> 
</div>
 
 {% endblock content %}

 {% block content2 %}
 {% load compress %}
 {% compress js %}
 <script src="/static/js/ui-queries/my-order-status.js"></script>
 {% endcompress %}
{% endblock content2 %}
