
{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<div class="container">
  <button id="sendOrderButton" type="button" class="btn btn-default btn-lg">
    Commander
  </button>  
</div>

<div class="container">
  <h2>Ma commande</h2>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Identifiant</span>
    <input id="identifier-text" type="text" class="form-control" placeholder="Votre identifiant (facultatif)" aria-describedby="basic-addon1" required>
  </div>
  
  <hr>
  
  <div id="menu-items-container" class="container"></div>
  <p id="total" style="text-align: right;">Total : 0 €</p>
  
  <hr>
  
  <!-- Modal indo (pop up windows)-->
  <div id="menu-items-modal-container" class="container"></div>
  
  <div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-6">
            <textarea id="comment-text" class="form-control" rows="3" placeholder="Commentaire optionnel pour votre commande"></textarea>
        </div>
    </div>
  </div>
 </div>
 
{% endblock content %}

{% block content2 %}
 {% load compress %}
 {% compress js %}
 <script src="/static/js/ui-queries/menu-item-view.js"></script>
 <script src="/static/js/ui-queries/my-order.js"></script>
 {% endcompress %}
{% endblock content2 %}